/* General */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #111;
font-weight:lighter;
font-size: small;
}

ul {
  list-style: none;

}

body {
  background-color:white;
  font-family: 'Exo', sans-serif;
  color: #111;
  min-height: 200vh;
  margin: 20px 150px;
  display: grid;
  grid-template-rows: 50px 20px 130px 40px 130px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "hea hea hea"
    "titre titre titre"
    "c1 c1 c1"
    ". . ."
    ". . .";
  gap: 20px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 10px;
}
p{
  padding: 10px;
}
/* Header */
header {

  display: flex;
  grid-area: hea;
  line-height: 3.5rem;
  flex-direction: row;
  justify-content: space-between;
}
.lienbrown{
  color: brown;
}
header h3 {
  font-weight: 700;
  font-size: 20px;
}

ul {

  display: flex;
  flex-flow: row nowrap;

}

.carreau {
  border: 1px  brown solid;
  border-radius: 5px;
  padding: 15px 20px;
  color: brown;
}

header ul li a {
  padding: 30px;
}

/* section titre */

.titre {

  grid-area: titre;

  /* width: 100%; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.imgbox{
  margin: 0px 15px;
}

/* partie contenue e1 */
.contenue1 {
  min-height: 120vh;
  grid-area: c1;
  display: flex;
  flex-flow: row nowrap;
}

.memeligne {
  display: flex;
  flex-flow: row nowrap;
  font-size: 15px;
  width: 370px;
}
.p2 p{
  padding: 20px 0px;
}
.img3place{
  max-width: 100%;
}